@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-4">
    <h1 class="display-4">Welcome</h1>
    <p>Always Remember you're enough and don't let the problem eat you!</p>
</div>

<div class="container">
    <h2>Add your new Task</h2>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control mb-2" id="taskInput" placeholder="Enter a new task...">
                <input type="date" class="form-control mb-2" id="taskDate">
            </div>
        </div>
        <div class="col-md-2">
            <button id="addTaskButton" class="btn btn-success btn-sm px-3 py-2" style="font-family: Arial, sans-serif;">Add New</button>
        </div>
    </div>

    <div id="todoListContainer" class="mt-4">
        <h2>Your To-Do List:</h2>
        <table id="todoList" class="table">
            <thead>
                <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Tasks will be dynamically added here -->
            </tbody>
        </table>
    </div>
</div>

